<!-- Author: Sean Pesce -->
<!--
  Source:
    https://material.angular.io/components/dialog/overview
    https://stackblitz.com/angular/bxerngxxrqa?file=app%2Fdialog-overview-example-dialog.html
-->
<h1 mat-dialog-title style="text-align:center;">Not implemented yet</h1>
<div mat-dialog-content>
  <h4 mat-subheader class="mat-h4 txt-color-dark" cdkFocusRegionstart>This feature isn't supported yet, as the website's still under construction. Come back later!<br>- Sean</h4>
</div>
<div mat-dialog-actions style="justify-content:center;">
  <button mat-button class="bg-color-light" (mouseenter)="onMouseEnterBt()" (mouseleave)="onMouseLeaveBt()" (click)="onNoClick()">Ok</button>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
