<!-- Author: Sean Pesce -->
<app-page-header [title]="'Education'"></app-page-header>
<div class="content-background content-section">
  <div style="width:50%; padding-left:25%; padding-right:25%;">
    <app-school-card
      [school]="'Stony Brook University'"
      [start]="'September 2013'"
      [end]="'January 2018'"
      [degree]="'Bachelor of Science in Computer Science'"
      [url]="'https://www.stonybrook.edu/'"
      [logo]="ASSETS + '/img/logo/StonyBrookUniversitySquare.png'">
    </app-school-card>
  </div>
</div>
